@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #4B5EF5;
  --primary-main: #2C3FE6;
  --primary-dark: #1E2DB3;
  --secondary-light: #64748B;
  --secondary-main: #475569;
  --secondary-dark: #334155;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
